{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <p>Hello:</p>
    <p>You have requested a password reset recently, please see the link below to reset your password.</p>
    <p>To get started, please visit the link below, and note the link will expire in 60 minutes.</p>
    <p><a href={{.Link}}>Reset my password</a></p> 
    </body>

    </html>
{{end}}